# Ignore all files
*

# Un-ignore directories
!*/
!*/.gitkeep

!*.md

# Allow Implementierung and its contents
!Implementierung/
!Implementierung/**

# Allow Vortrag and its contents
!Vortrag/
!Vortrag/**

# Ignore Build artifacts
Implementierung/main.dSYM/**
Implementierung/main
Imprementierung/main.exe